<template>
  <div>
    <h1>About Author</h1><br>
    <h2>สร้างโดย นาย ธนภัทร เกษณีย์(Thanaphat Ketsani)(เวฟ) 65160169 เว็บนี้สร้างขึ้นเพื่อให้ลองเล่น</h2><br>
    <h2>ลองศึกษากันดูเป็น open source เอาไปแก้ไขเพิ่มลบได้ตามใจ enjoy ครับ</h2>
  </div>
</template>

<style scoped>
@media (min-width: 1024px) {
  .about {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
}
</style>
