<script setup lang="ts">
import { error } from 'console';
import { ref, reactive, computed } from 'vue';
const message = ref("");
const errorCalss = "error"
const weight = "weight"
const color = "green"
const bgblack = "black"

const isdark = ref(false)
const darktheme = {'background-color':"black",'color':"white"}
</script>
<!--end script-->
<template>
    <h1>2 Ways Binding with v-model</h1><br><br>
    <h1>v-model กับตัวอย่างการใช้</h1><br>
    <span style="border: 1px solid black;">
        <input type="text" v-model="message" placeholder="Input here">
    </span>
    <h3>  message: {{ message }}</h3><br>
    <v-btn @click="message=''" style="background-color:rgb(50, 50, 255); color: white;">Reset</v-btn>
    <br><br>
    <h1>Binding CSS Class & Style</h1><br><br>
    <div :class="[errorCalss ,weight]">Binding Class</div><br>
    <div :style="{color, backgroundColor:bgblack}">Binding Style</div>
    <br><br>
    <div :style="isdark ? darktheme : ''">color</div><br>
    <v-btn @click="isdark = !isdark">change color</v-btn>

</template>
<!--end template-->
<style scoped>
.error{
    background-color: red;
    color: white;
}
.weight{
    color: greenyellow;
}
</style>