<template>
  <h1>Dictionary and Array Data</h1>
  <h3>user: {{ account.username }}</h3>
  <h3>password: {{ account.password }}</h3>
  <p>ส่วนที่กำลังแสดงตรงส่วนนี้คือ object หรืออีกชื่อนึงเรียกว่า dictionary</p><br><br>
  <h3>books:  {{ books }}</h3><br>
  <h3>หนังสือเล่มแรกคือ {{ books[0] }} และเล่มสุดท้ายคือ {{ books[2] }}</h3><br><br>
  <h2>แสดงหนังสือเป็นแนวตั้งด้วยการใช้ v-for</h2>
  <ul>
    <li v-for="(item ,index) in books" v-bind:key="index">{{ item }}</li>
  </ul>
</template>

<script setup lang="ts">
import { ref } from "vue";

const account = ref({'username': "wave", 'password': "wave_310847"});
const books = ["Calculus","Network","Operating System"];

</script>

<style scoped>

</style>