<script setup lang="ts">
import { ref } from 'vue';
const Style = ref("<style>");
</script>
<!--end script-->
<template>
  <h1>Edit Style in Component</h1><br>
  <p>ไปดูแต่ละอันที่อยู่ใน {{ Style }} เช่นอันนี้เป็น p ผมกำหนดไว้ใน {{ Style }} ว่าเป็นสีน้ำเงิน</p>
  <h3>แต่ว่าอันนี้เป็น h3 ผมตั้งค่าสีที่อยู่ใน {{ Style }} ให้เป็นสีเขียว</h3>
</template>
<!--end template-->
<style>
p{
    color:blue;
}
h3{
    color: green;
}
</style>