<script setup lang="ts">
import { ref,watch,computed } from "vue";
const sayhello = () => {
    alert("Hello, Brother")
}

const now = ref(new Date());

setInterval(() => {
  now.value = new Date();
  currentTime.value = new Date();
}, 1000);

const date = () => {
    return Date();
}

const currentTime = ref(new Date());

const currentTimeDisplay = computed(() => {
    const date = currentTime.value;
  const hours = date.getHours().toString().padStart(2, '0'); // จัดรูปแบบให้เป็น 2 หลัก
  const minutes = date.getMinutes().toString().padStart(2, '0');
  const seconds = date.getSeconds().toString().padStart(2, '0');
  return `${hours}:${minutes}:${seconds}`;
});
</script>

<template>
  <div>
    <h1>Event and Method</h1><br>
    <v-btn v-on:click="sayhello()">Click to alert Hello</v-btn><br>
    <h2>แสดงวันและเวลา: {{ now }}</h2><br>
    <h2>แสดงเฉพาะเวลา ณ ปัจจุบัน: {{ currentTimeDisplay }}</h2>
  </div>
</template>

<style>

</style>