<script setup lang="ts">
import { ref } from "vue";
const inter = ref("{{ ตัวแปร }}");
const count = ref(0);
function del(){
    this.count = this.count - 1;
}

</script>
<template>
    <div class="interpolation">
        <h1>Interpolation</h1>
        <h2>วิธีการใช้ {{ inter }} ใช้กับตัวแปรที่เป็น reactive เช่น ref, reactive ไรพวกนี้</h2>
        <br><br>
        <!--จบ Interpolation-->
        <h1>Click event</h1>
        <h2>ใช้ @click="สิ่งที่จะเกิดเมื่อคลิ๊ก" ที่tag button หรือ v-btn</h2>
        <h2>เช่น กดปุ่มเพื่อเพิ่มจำนวนนับที่มีค่าต่ำสุดเป็น 0 </h2><br>
        <h2>count >> {{ count }}</h2><br>
        <v-btn @click="count+=1" style="background-color: green; color: white; ">Add</v-btn>
        <v-btn @click="del()" v-if="count!=0" style="background-color: red; color: white; margin-left: 10px;">Del</v-btn>
        <v-btn v-if="count==0" style="background-color: red; color: white; margin-left: 10px;">Del</v-btn>
        <v-btn @click="count=0" style="background-color: rgb(0, 83, 128); color: white; margin-left: 10px;">Reset</v-btn>
        <br><br>
        <!--จบ Click event-->

    </div>
</template>
<style scoped>

</style>