<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
import HelloWorld from './components/HelloWorld.vue'
</script>

<template>
    <div style="margin-top: -350px; margin-left: -650px; display: inline; position: fixed;">
        <ul>
          <li><RouterLink to="/">Home</RouterLink></li>
          <li><RouterLink to="/about">About</RouterLink></li>
          <li><RouterLink to="/interpolation">Interpolation</RouterLink></li>
          <li><router-link to="/binding">Binding</router-link></li>
          <li><router-link to="/editstyle">edit Style</router-link></li>
          <li><router-link to="/event">Event & Method</router-link></li>
          <li><router-link to="/dataArray">Data & Array</router-link></li>
        </ul>
    </div>
  <main style="margin-top: -350px; margin-left: -500px; position: fixed;">
    <RouterView/>
  </main>
</template>


